html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

dl,
dd {
  margin: 0;
}

a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: transparent;
  outline: none;
  color: #000;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: currentColor;
}

a,
dt,
dd {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  border: 0;
}

p {
  margin: 0;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

button:hover {
  cursor: pointer;
}


/*css reset*/

body {
  position: relative;
}
